<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
	<PropertyGroup>
		<WebPublishMethod>ZipDeploy</WebPublishMethod>
		<IsLinux>true</IsLinux>
		<RuntimeIdentifier>linux-x64</RuntimeIdentifier>
		<ResourceId>/subscriptions/82516680-887f-4e9b-a874-885a3af04f24/resourceGroups/Server20260207193233ResourceGroup/providers/Microsoft.Web/sites/Server20260207193233</ResourceId>
		<ResourceGroup>Server20260207193233ResourceGroup</ResourceGroup>
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
		<SiteUrlToLaunchAfterPublish>https://server20260207193233-chfhdpesaeb7ehaa.francecentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
		<PublishProvider>AzureWebSite</PublishProvider>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<ProjectGuid>27bf5ef3-b96b-497d-8912-3e64bd7a79c4</ProjectGuid>
		<PublishUrl>https://server20260207193233-chfhdpesaeb7ehaa.scm.francecentral-01.azurewebsites.net/</PublishUrl>
		<UserName />
		<_SavePWD>false</_SavePWD>
	</PropertyGroup>
</Project>